<div class="modal" tabindex="-1" role="dialog" id="dui-settings">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Distributions.</h2>

        <ul id="hide-dists">
            <li>
                <input type="checkbox" id="dui-settings-debian"></input>
                <label for="dui-settings-debian">Debian</label>
                <ul>
                    <li>
                        <input type="checkbox" id="dui-settings-debian-stable"></input>
                        <label for="dui-settings-debian-stable">Stable</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-debian-testing"></input>
                        <label for="dui-settings-debian-testing">Testing</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-debian-sid"></input>
                        <label for="dui-settings-debian-sid">Unstable</label>
                    </li>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="dui-settings-ubuntu"></input>
                <label for="dui-settings-ubuntu">Ubuntu</label>
                <ul>
                    <li>
                        <input type="checkbox" id="dui-settings-ubuntu-lucid"></input>
                        <label for="dui-settings-ubuntu-lucid">Lucid</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-ubuntu-maverick"></input>
                        <label for="dui-settings-ubuntu-maverick">Maverick</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-ubuntu-natty"></input>
                        <label for="dui-settings-ubuntu-natty">Natty</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-ubuntu-oneiric"></input>
                        <label for="dui-settings-ubuntu-oneiric">Oneiric</label>
                    </li>
                    <li>
                        <input type="checkbox" id="dui-settings-ubuntu-precise"></input>
                        <label for="dui-settings-ubuntu-precise">Precise</label>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="dui-settings-save">Save changes</button>
      </div>
    </div>
  </div>
</div>
