<div class="pkginfo {{class}}">
  <div class="thumb">
    <a href="https://screenshots.debian.net/package/{{pkg.name}}">
        <img src="https://screenshots.debian.net/thumbnail/{{pkg.name}}"
             alt="screenshot">
    </a>
  </div>
  <ul class="links">
      {% if pkg.source != pkg.name %}
      <li class="source">Source: <b>{{pkg.source}}</b></li>
      {% endif %}
      <li><a href="{% url "report_pkginfo" pkg.name %}">[more info]</a></li>
      <li><a href="{% url "editor_edit" name=pkg.name %}">[tag editor]</a></li>
      <li><a href="https://packages.qa.debian.org/{{pkg.source}}">[PTS]</a></li>
      <li><a href="https://qa.debian.org/cgi-bin/dcontrol?package={{pkg.name}}&version={{pkg.version}}">debian/control</a></li>
  </ul>
  <a class="name" href="https://packages.debian.org/{{pkg.name}}">{{pkg.name}}</a>
  <span class="sep">-</span>
  <span class="sdesc">{{pkg.sdesc}}</span>
  <span class="ldesc">{{pkg.ldesc_html|safe}}</span>
</div>
