{% extends "debtags-base.html" %}

{% block content %}

<div id="intro">
    <p>This page document the site JSON APIs.</p>
</div>

<dl>
    <dt>{% url "api_patch" %}</dt>
    <dd>
    <p>POST a patch for the unreviewed tag database.</p>
    <p>There is only one required POST argument:</p>
    <dl>
        <dd>patch</dd>
        <dt>The tag patch, using the format of this example:
        <pre>
pkg1: +tag1, +tag2, -tag3
pkg2: +tag1
pkg3: -tag2, -tag3
        </pre>
        note that spaces are important: separators are "colon-space" and
        "comma-space"</dt>
    </dl>
    <p>The result is a JSON encoded dictionary as follows:</p>
    <pre>
{
    pkgs: {
        pkg1: [tag1, tag2, tag3],
        pkg2: [tag2],
        pkg3: [tag1],
    }
    notes: [
        "note about the patch"
    ]
}
    </pre>
    <p>For each package involved in the submitted patch, there is an entry in
    <tt>pkgs</tt> with its new tags.</p>
    <p>If the server's consistency checks alter the patch before submission,
    string notes are added to <tt>notes</tt> to document what happened.</p>
    </dd>
</dl>

{% endblock %}
