{% extends "reports/base.html" %}

{% block head_resources %}
{{block.super}}
<style type="text/css">
pre {
  margin: 0;
}
</style>
{% endblock %}

{% block content %}

<h1>History for {{user}}</h1>

<div id="intro">
    <p>This page lists all changes done by you, with the most recent first.</p>
</div>

<table>
  <thead>
    <tr><th>Time</th><th>Patch</th></tr>
  </thead>
  <tbody>
    {% for entry in audit_log %}
    <tr>
      <td>{{entry.ts}}</td>
      <td><pre>{{entry.text}}</pre></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

