{% extends "reports/base.html" %}
{% load i18n %}

{% block title %}{{block.super}} - Getting started{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>{% trans "Start contributing to Debtags" %}</h1>

<p>One way to help is to tag packages. You can just check your favourite
packages in <a href="{% url "editor_index" %}">the editor</a>, or pick one
from <a href="{% url "report_todo" %}">the Debtags TODO list</a>.</p>

<p>There are several checks that are run on the unreviewed tag database to try
and detect issues in the tagging: each has its own
<a href="{% url "report_checks_list" %}">report page</a>, and they are good as
lists of packages that need work.</p>

<p>You can also <a href="{% url "search_packages" %}">search</a> packages
to see if there are some that don't fit, or some that you think are missing,
and review their tags.</p>

<p>Another good starting point is the <a href="{% url "report_facets" %}">Debtags vocabulary</a>,
which will eventually lead you to specialised tagging pages.</p>

<p>If you are a package maintainer, you may want to start from one of the
<a href="{% url "report_maint_index" %}">maintainer views</a>.</p>
</div>

{% endblock %}

