{% extends "debtags-base.html" %}

{% block content %}

<div class="container-fluid">
    <p>This page shows all known information about package <b>{{pkg.name}}</b>.</p>

    <p>
        <a href="https://screenshots.debian.net/package/{{pkg.name}}">
            <img src="https://screenshots.debian.net/thumbnail/{{pkg.name}}">
        </a>
        <a href="{% url "editor_edit" name=pkg.name %}">{{pkg.name}}</a> - {{pkg.sdesc}}
    </p>

    {% if pkg.source != pkg.name %}
        <p>From source: <b>{{pkg.source}}</b></p>
    {% endif %}

    {{pkg.ldesc_html|safe}}

    <a href="https://qa.debian.org/cgi-bin/dcontrol?package={{pkg.name}}&version={{pkg.version}}">debian/control</a>

    <dl>
        <dt>Section</dt>
        <dd><b>{{extra.bininfo.sec}}</b></dd>

        <dt>Architecture{{extra.bininfo.archs|pluralize}}</dt>
        <dd>{{extra.bininfo.archs|join:", "}}</dd>

        {% if extra.bininfo.predeps %}
        <dt>Pre-depends</dt>
        <dd>
            {% for name in extra.bininfo.predeps %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.bininfo.deps %}
        <dt>Depends</dt>
        <dd>
            {% for name in extra.bininfo.deps %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.bininfo.recs %}
        <dt>Recommends</dt>
        <dd>
            {% for name in extra.bininfo.recs %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.bininfo.suggs %}
        <dt>Suggests</dt>
        <dd>
            {% for name in extra.bininfo.suggs %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.bininfo.ehns %}
        <dt>Enhances</dt>
        <dd>
            {% for name in extra.bininfo.ehns %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.srcinfo.bd %}
        <dt>Build-Depends</dt>
        <dd>
            {% for name in extra.srcinfo.bd %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        {% if extra.srcinfo.bdi %}
        <dt>Build-Depends-Indep</dt>
        <dd>
            {% for name in extra.srcinfo.bdi %}
            <a href="{% url "report_pkginfo" name=name %}">{{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        <dt>Distribution{{extra.bininfo.dist|pluralize}}</dt>
        <dd>
            {% for name in extra.bininfo.dist %}
            {{name}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
    </dl>
</div>

{% endblock %}

