{% extends "reports/base.html" %}
{% load i18n %}
{% load debtags %}

{% block title %}Debtags TODO list{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>{% trans "Most important packages needing tagging" %}</h1>

  {% for pkg in pkgs %}
  <a href='{{pkg.get_absolute_url}}'>{{pkg.name}}<a> -- {{pkg.sdesc}}
  <div class='pkgtags'>
    {% for t in pkg.stable_tags.all %}
    {{t|tag}}
    {% endfor %}
  </div>
  <div class="pkgsugg">
    {% for t in pkg.todolist.all %}
    <div class="tip">{{t.format|safe}}</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
