{% extends "debtags-base.html" %}
{% load i18n %}

{% block title %}Profile preferences{% endblock %}

{% block content %}

<h1>Profile preferences</h1>

<form action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
  {% for f in form.hidden_fields %}{{f}}{% endfor %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    <ul>
      {% for e in form.errors %}
      <li>{{e}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% for field in form %}
  <div class="form-group">
    {{field.label_tag}}
    {{field}}
    {{field.errors}}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>

{% endblock %}
