{% extends "debtags-base.html" %}

{% block content %}
<div class="container-fluid mt-2">
  <div class="jumbotron">
  <h1 class="display-4">Debtags</h1>
  <p class="lead">This site is the main entry point for categorising <a href="https://www.debian.org">Debian packages</a>.</p>
  <hr class="my-4">
  <form class="form-inline" action="{% url "editor_index" %}">
    <div class="form-group mb-2">
      <label for="pkg" class="mr-2">Tag a package:</label>
      <input type="text" name="pkg" id="pkg" class="form-control mr-2" placeholder="package name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Edit</button>
  </form>
  </div>
</div>
{% endblock %}
