td.pkgstats {
    white-space:nowrap;
}

h2.srcgroup {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

ul#sources {
    margin: 0;
    padding: 0;
}
ul#sources > li {
    margin: 0;
    list-style: none;
}

ul.pkglist {
    margin: 0;
    margin-left: 1em;
    padding: 0;
}
ul.pkglist > li {
    margin: 0;
    list-style: none;
}

div.pkgtooltip p {
    margin: 0;
    padding: 0;
}

div#options {
    float: right;
}
div#options h2 {
    cursor: pointer;
}
div#options h2:hover {
    text-decoration: underline;
}
div#options ul {
    margin: 0;
    padding: 0;
}
div#options ul > li {
    margin: 0;
    list-style: none;
}

div#options ul.collapsed {
    display: none;
}

table.apriorirules a {
    color: inherit;
    text-decoration: none;
}
table.apriorirules a:hover {
    text-decoration: underline;
}

.tag a {
    text-decoration: none;
}
.tag a:hover {
    text-decoration: underline;
}
.tag p.ldesc {
    margin: 0;
    margin-left: 0.5em;
    font-size: small;
}

a.editlink {
    display: none;
    float: right;
    font-size: 80%;
}
td:hover a.editlink {
    display: inline;
}
